@media screen and (max-width:576px) {
  .nav, .nav-items-container{
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    gap:20px ; 
  }
  .banner-section{
    flex-direction: column;
    margin-top: 40px;
    gap:15px;
  }
  .text-container{
    width: 100%;
    order: 2;
  }
  .banner-img-container{
    width: 100%;
    order: 1;
  }
}

/* medium device */
@media screen {
  
}
