@media screen and (max-width:576px) {
  .nav, .nav-items-container{
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 15px;
    gap:20px ; 
  }
}

/* medium device */
